---
layout: archive
title: ""
permalink: /talks/
author_profile: true
---

<!---
<p style="text-decoration:underline;"><a href="/talkmap.html">A Map of all Places I've studied distantly From!</a></p>

--->

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

<br>

Certifications Visitors

![Certifications Visitors](https://visitor-badge.glitch.me/badge?page_id=ahkhalwai.ahkhalwai.github.io/talks/)

Total Visitor

![Total Visitors](https://visitor-badge.glitch.me/badge?page_id=ahkhalwai.ahkhalwai.github.io/)

<br>
